.nav{
    display: flex;
    justify-content: space-around;
    background: rgb(80, 197, 247);
}
.nav div{
    margin: 30px;
    border: solid rgb(249, 205, 205);
    padding: 5px;
    cursor: pointer;
}
.nav div:hover{
    background: rgb(112, 110, 110);
}
.title{
    text-align: start;

    
    
}
.about {
    text-align: start;
}
.movieList{
    margin: 2px;
   padding: 4px;
    display: flex;
    background: rgb(70, 196, 230);
    text-align: start;
flex-wrap: wrap;
}

